body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#0f172a,#1e293b);
color:white;
text-align:center;
}

nav{
backdrop-filter:blur(10px);
background:rgba(0,0,0,0.5);
padding:15px;
position:sticky;
top:0;
}

.hero{
padding:80px 20px;
animation:fadeIn 1.5s;
}

.hero img{
width:170px;
border-radius:50%;
border:4px solid #2563eb;
transition:0.4s;
}

.hero img:hover{
transform:scale(1.1);
}

.btn{
padding:12px 25px;
background:#2563eb;
color:white;
text-decoration:none;
border-radius:8px;
}

.btn:hover{
box-shadow:0 0 25px cyan;
}

.skills{
display:flex;
justify-content:center;
flex-wrap:wrap;
}

.skill-card{
background:rgba(255,255,255,0.1);
margin:10px;
padding:15px;
border-radius:10px;
transition:0.3s;
}

.skill-card:hover{
transform:translateY(-10px);
background:#2563eb;
}

section{
opacity:0;
transform:translateY(60px);
transition:0.6s;
}

#particles-js{
position:fixed;
width:100%;
height:100%;
top:0;
left:0;
z-index:-1;
}

@keyframes fadeIn{
from{opacity:0;transform:translateY(40px);}
to{opacity:1;transform:translateY(0);}
}
