body {
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
text-align:center;
scroll-behavior:smooth;
}

#particles-js{
position:fixed;
width:100%;
height:100%;
z-index:-1;
}

header{
padding:120px 20px;
}

button{
padding:12px 25px;
border:none;
background:#3b82f6;
color:white;
font-size:16px;
border-radius:10px;
cursor:pointer;
transition:0.3s;
}

button:hover{
transform:translateY(-5px);
box-shadow:0 0 20px #3b82f6;
}

section{
padding:80px 20px;
}

.card{
background:#1e293b;
margin:20px auto;
padding:30px;
width:250px;
border-radius:15px;
transition:0.4s;
}

.card:hover{
transform:scale(1.1);
box-shadow:0 0 25px #3b82f6;
}
